# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Imagens
*.png
*.jpg
*.jpeg
*.gif
*.svg

# Vídeos
*.mp4
*.avi
*.mov
*.wmv

# Áudios
*.mp3
*.wav
*.ogg



# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
