/* Codigo scss validado no https://jigsaw.w3.org/css-validator/validator */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Sono:wght@200..800&display=swap');/* Google Font Sono e Montserrat */
@import url('https://cdn.jsdelivr.net/npm/qweather-icons@1.6.0/font/qweather-icons.css'); /* Icons de Meteorologia */


/* Reset do Css 
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* Responsive seguindo instrucoes*/

/* telefones vao até 420px de width*/
@media (max-width: 420px) {
    .App {
        padding: 5vw; 

    }
    .header {
        position : relative;
    }

    .header h1 {
        position : absolute;
        top : 20px;
        margin : 0px;
    }

    .dark-mode-button {
        position: absolute;
        top : 5px;
    }

    nav ul {
        /* tornar menu em coluna para caber, menu hamburger seria melhor */
        flex-direction: column; 
        align-items: center; 
    }
    nav ul li {
        margin: 20px ;
    }

    .footer  {
        flex-direction: column; 
        align-items: center; 
    }

    .campos-alerta  {
        flex-direction: column; 
        align-items: center; 
    }

    table {
        width:100%;
        overflow: auto;
        padding : 0;
        margin : 0;
    }
}

/* Tablet min e maximo */
@media (min-width: 421px) and (max-width: 780px) {
    .App {
        padding: 5vw;
    }
    nav ul {
        /* tornar menu em coluna para caber, menu hamburger seria melhor */
        flex-direction: column; 
        align-items: center; 
    }
    nav ul li {
        margin: 20px ;
    }

}

/* computador */
@media (min-width: 780px) {
}

/* Um wrapper (App) com os tamanhos maximos e minimos */
.App {
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #bae7ff;
    border: 1px solid #CED4DA;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    margin: 0 auto; 
    margin-bottom: 5vh;
    padding : 5vw;
}

header {
    background-color: #3eb2ff00;
    padding: 10px 20px;
    text-align: center;
    position: relative; 

}
header h1 {
    margin: 0;
    display: flex;
    justify-content: center; 
    font-weight: bold;
    font-size :2.5em;
    color: #3eb2ff;

}

footer {
    margin: 10px auto;
    padding: 10px 10px;
    text-align: center;
    color: #fff;
    background-color: #3eb2ff;
    width: 100%;
    
}

footer p {
    margin: 0;
}


/* Estilizacao dos icons */
.icon {
    font-family: 'qweather-icons', serif;
}

/* Montserrat serà para o body e o texto normal */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sono serà para os titulos */
h1, h2 {
    font-family: 'Sono', sans-serif;
    margin-top: 0; 

}

h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size :1.5em;
}

h3 {
    margin-bottom: 10px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 1px 1px #000000;
}

/* Cores para modo luminoso */
body.light-mode {
    background-color: #e3ffff; 
    color: #212529; 
}

body.light-mode h2 {
    color: #172432; 
}

/* Butao para modo escuro */
.dark-mode-button {
    background-color: #0a1945;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Sono', sans-serif;
    margin: 20px;
    position: absolute;
    top: 18%;
    right: 20px; 
    transform: translateY(-50%);
}

.dark-mode-button i{
    font-size: 25px; 

}

.dark-mode-button:hover {
    background-color: #1942be;
}

/* Cores para modo escuro */
body.dark-mode {
    background-color: #1e5c97; 
    color: #ECF0F1; 
}

body.dark-mode .App {
    background-color: #34495E; 
    border-color: #2C3E50;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

body.dark-mode h2 {
    color: #BDC3C7; 
}

/* Sendo uma app de meteorologia, com avisos (tempestades, etc) tem uma caixa dedicada as alertas */
.formulario {
    padding: 10px;
    border-radius: 4px;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.campos-alerta{
    display: flex;

    align-items : center;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    margin : auto;
    width : 45%;
    justify-content: space-between ;
    
}

#Validar {
    margin-left: 20px;
}


/* NavBar */

nav {
    margin-top: 30px;
    margin-bottom: 30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li .button {
    text-decoration: none;
    background-color: #FF6B6B; 
    color: #FFFFFF; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 8px;
    margin: 5px;
}

nav ul li .button:hover {
    background-color: #ff2015;
}

/* Mapa Infravermelho */
#mapa {
    background-color: #8fd2ff;
}

#select-local {
    background-color: #3eb2ff;
}
#mapa, #select-local {
    text-decoration: none;
    padding : 10px 20px;
    color: #FFFFFF; 
    border: 2px solid transparent;
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Sono', sans-serif;
    width: 100%;
    margin: 20px auto;
    display: center ;
    
}


.map-svg-container {
    
    padding: 10px 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 20px auto;
    background-color: #8fd2ff;
    display: center ;
    
}

.map-svg-container img {
    width: 100%;
}

/* Estilizacao das tabelas de dados meteorologicas */
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
    text-align: center; 
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #3eb2ff;
    color: #fff;
    text-align: center;
    /* quando esta responsive o thead tem que se mostrat corretamente */
    display: table-header-group;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

th {
    font-family: 'Sono', sans-serif;
    font-weight: 600;
}

td {
    font-family: 'Montserrat', sans-serif;
}

/* Tabela Para o dark mode */
body.dark-mode table {
    background-color: #2C3E50;
    color: #ECF0F1;
}

body.dark-mode thead {
    background-color: #1A252F;
}

body.dark-mode tbody tr:nth-child(even) {
    background-color: #34495E;
}

body.dark-mode tbody tr:hover {
    background-color: #3E5060;
}

body.dark-mode th, body.dark-mode td {
    border-color: #3E5060;
}
