/* Google Font Sono e Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Sono:wght@200..800&display=swap');

/* Icons de Meteorologia */
@import url('https://cdn.jsdelivr.net/npm/qweather-icons@1.6.0/font/qweather-icons.css');

/* Icons */
.icon {
    font-family: 'qweather-icons', sans-serif;
}

/* Estilo CSS dentro de ficheiro SCSS : fontes, cores, icons */

/* Montserrat sarà para o corpo, o texto normal */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sono sarà para os titulos */
h1, h2, h3, h4 {
    font-family: 'Sono', sans-serif;
    margin-top: 0;
    color: #3eb2ff; 
}

.container {
    background-color: #bae7ff;
    border: 1px solid #CED4DA;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

/* Cores para modo luminoso */
body.light-mode {
    background-color: #d0e4e4; 
    color: #212529; 
}

body .light-mode h1, h2 {
    color: #212529; 
}

/* Cores para modo escuro */
body.dark-mode {
    background-color: #051d34; 
    color: #ECF0F1; 
}

body.dark-mode .container {
    background-color: #34495E; 
    border-color: #2C3E50;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

body.dark-mode h2 {
    color: #BDC3C7; 
}

/* Sendo uma app de meteorologia, com avisos (tempestades, etc) tem uma caixa dedicada as alertas*/
body .light-mode .alert {
    background-color: #FF4136; 
    color: #FFFFFF;
    padding: 10px;
    border-radius: 4px;
}

body.dark-mode .alert {
    background-color: #8e2e23;
    color: #ECF0F1; 
}

.button {
    background-color: #FF6B6B; 
    color: #FFFFFF; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #ff2015;
}

//Mapa Infravermelho na função canvas com butoes ou barra para evoluir no tempo 

canvas {
    border: 1px solid #CED4DA;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.mapa-portugal {
    max-width: 100%;
    margin: auto;
}

svg {
    width: 100%;
    height: auto;
}
